@font-face {
font-family: 'Comfortaa';
src: url('Comfortaa.ttf'); 
}


@font-face {
font-family: 'Raleway-ExtraLight';
src: url('Raleway-ExtraLight.ttf'); 
}


@font-face {
font-family: 'OpenSans-Regular';
src: url('OpenSans-Regular.ttf'); 
}

@font-face {
font-family: 'fashionista';
src: url('fashionista.ttf'); 
}

#first_span h1 > span
{
    background: rgba(229, 229, 229, 0.85);
    color: black;
    font-family: "Comfortaa";
}




#gallery_common
{
    background-image: url('../../img/instincts/gallery_bg/grid/');
}

#thrill h2 > span
{
    background: rgba(229, 229, 229, 0.85);
    color: black;
    font-family: "Comfortaa";
}

#about
{
    background: url('../../img/instincts/about-bg.jpg') center center repeat;
}

#abt_us
{
    font-family: "Raleway-ExtraLight";
    font-size: 17px;
    background: url('../../img/instincts/logo/instinctslogo-01.png') center no-repeat;
    background-size: 200px 200px;
}
#abt_collapse{
    width: 900px;
}

@media screen and (max-width: 600px) {
  #abt_collapse {
      width: 300px;
  }
}
.parallel
{ 
    width: 200px; 
    height: 50px; 
    -webkit-transform: skew(30deg); 
    -moz-transform: skew(30deg); 
    transform: skew(30deg);
    background: #000;
    margin: 20px;

}

#sched
{
    font-family: "Raleway-ExtraLight";
    -webkit-transform: skew(30deg); 
    -moz-transform: skew(30deg); 
    transform: skew(30deg);
}

#sched:hover
{
    
    font-family: "Raleway-ExtraLight";
    -webkit-transform: skew(30deg); 
    -moz-transform: skew(30deg); 
    transform: skew(30deg);
}

#schedule_link
{
    color: #757575;
}
#schedule_link:hover
{
    color: white;
}
#brg{
    height: 125px;
}
#mainpg_ico:hover
{
    cursor: hand;
    background: white;
    width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#home_text
{
        position: absolute;
    font-size: 40px;
    margin-top: 100px;
    z-index: 999;
    width: 100%;
    text-align: center;
    
}
@media screen and (max-width: 600px) {
  #home_text {
      position: absolute;
    font-size: 20px;
    margin-top: 100px;
    z-index: 999;
    width: 100%;
    text-align: center;
  }
}

#ssn
{
    color: rgba(53, 53, 224, 0.74);
    font-size: 50px;
    font-weight: bolder;
    font-family: "OpenSans-Regular";
}
#hcl_img
{
        height: 100px;
    background: white;
    display: none;
}
@media screen and (max-width: 600px) {
  #hcl_img {
      height: 50px;
    background: white;
      display: none;
  }
}

#text_upper, #text_middle
{
    font-size: 40px;
    color: white;
    font-family: "Raleway-ExtraLight";
    display: none;
}
@media screen and (max-width: 600px) {
  #text_upper, #text_middle {
      font-size: 20px;
    color: white;
    font-family: "Raleway-ExtraLight";
    display: none;
  }
}

#text_lower
{
    font-size: 45px;
    color: white;
    display: none;
}
@media screen and (max-width: 600px) {
  #text_lower {
      font-size: 30px;
    color: white;
    display: none;;
  }
}
/*@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
}*/


#ins_mainpg{
    height: 100px;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 1px solid white;
    background: #222;
}
#ins_mainpg:hover{
    height: 100px;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 1px solid white;
    background: rgba(224, 212, 212, 0.16);
    
}

#event_temporary
{
        display: inline-block;
    background: black;
    margin-right: auto;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: auto;
    color: white;
    margin-top: -15px;
    border: 3px solid black;
    text-align: center;
    margin-bottom: 68px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

#contact_info
{
        border: 1px solid black;
    padding: 32px;
    background: #333;
    color: white;
    
}
#contactForm{
    background: #333;
    padding: 45px;
    border: 1px solid black;
}


#snd{
        background: black;
    color: white;
}

#reg
{
       background: #333;
    border: 1px solid black;
    padding: 39px;
}

#port:before
{
    height: 0px;
}
#hcl
{
        height: 80px;
    background: white;
    margin-top: 21px;
    
}
#cts{
        height: 100px;
    margin-top: 30px;
}
#air{
    height: 115px;
    margin-top: 21px;
}
#sql
{
    height: 90px;
    margin-top: 21px;
}
#titan{
    height: 80px;
    margin-top: 21px;
}
#tmb
{
    max-width:286px;
    margin-top: 21px;
}
#zoho{
        margin-top: 8px;
}
#smg{
        height: 100px;
        max-width: 365px;
    margin-top: 21px;
}
#nirmala{
        max-width: 200px;
}
.spons_title
{
       
    padding: 2px 15px;
    background: rgb(51, 51, 51);
    color: #f8f8f8;
    font-family: Raleway-ExtraLight;
}
@media screen and (max-width: 600px) {
  .spons_title {
    padding: 2px 15px;
    background: rgb(51, 51, 51);
    color: #f8f8f8;
      font-size:21px;
font-family: Raleway-ExtraLight;
  }
    #smg{
     margin-top: 21px;
    /* margin-left: -30px; */
    height: 98px;
    max-width: 271px;

    }
}

#special_event{
        font-size: 21px;
    font-family: "Raleway-ExtraLight";
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 26px;
}
#cheif_guest{
       font-family: "OpenSans-Light";
    font-weight: bold;
    font-size: 23px;
    color: #333333;
    line-height: 1.6;
    text-transform: uppercase;
    margin: 0 0 23px;
}

#guests{
        font-size: 25px;
    margin-top: 39px;
    color: #3f51b5;
    font-family: "OpenSans-Light";
}
